
* {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: block;  
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  html {
    font-family: "Lucida Sans", sans-serif;
    background-color: #a1a1a1;
  }
  
  .header {
    background-color: 
    #5D5C5C;
    
    color: #ffffff;
    padding: 8px;
    display:flex;
  }
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #5c5e5f;
  }
  
  .menu li {
    
    padding: 15px;
    margin-bottom: 12px;
   
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .menu li:hover {
    background-color: #a1a1a1;
  }
  

  


  #lang{
    margin: 12px;
    padding: 23px;
    color: aliceblue;
  }
  
  .button1{
    border-radius: 15px;
    background-color: #c42a2a; 
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  
    cursor: pointer;

  }


  #film{
    width:150px;
    height:200px;
    border: 1px solid black;
    background-color: aquamarine;
    margin:5px;
  }


[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 768px) {
   
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }